/* index.css */
#wrap main {}
#wrap main #hero_bnr {
    height:830px; min-width:1220px;
    background-image:url(../images/bnr.jpg);
    background-size:cover;
    background-position:center;
    padding-top:502px;
}
#wrap main #hero_bnr .ad_txt {text-align:center;}
#wrap main #hero_bnr .ad_txt p,
#wrap main #hero_bnr .ad_txt h1 {
    /* text-shadow:x y 흐림 색상; */
    text-shadow:0 4px 4px rgba(0,0,0,0.25);
    color:#fff; line-height:1.5;
    font-family: "Noto Sans KR", sans-serif;
    margin-bottom:24px;
}
#wrap main #hero_bnr .ad_txt p {
    font-size:1.88rem;
    font-weight:600;
}
#wrap main #hero_bnr .ad_txt h1 {
    font-size:3.13rem;
    font-weight:700;
}
#wrap main #hero_bnr #reservation_form {
    width:1017px;
    margin:0 auto;
    padding:18px 25px;
    border-radius:15px;
    background-color:rgba(255,255,255,0.7);
    display:flex;/* 객실~체크인아웃~인원~검색 자식들 정렬 flex */
    flex-flow:row nowrap;/* 메인축(수평) */ 
    justify-content:space-between;/* 메인축(수평) 양쪽끝 배치 */
    align-items:flex-end;/* 교차축(수직) 가운데 */
}
/* --------------------------------------------------------------------------------객실~인원 공통디자인 */
#wrap main #hero_bnr #reservation_form .room h2,
#wrap main #hero_bnr #reservation_form .check_in_out .in h2,
#wrap main #hero_bnr #reservation_form .check_in_out .out h2,
#wrap main #hero_bnr #reservation_form .person h2 {
    margin-bottom:8px;
}
#wrap main #hero_bnr #reservation_form h2+div,
#wrap main #hero_bnr #reservation_form ul li {
    /* background-color:lime; */
}
/* --------------------------------------------------------------------------------객실선택 */
#wrap main #hero_bnr #reservation_form .room {}
#wrap main #hero_bnr #reservation_form .room h2 {}
#wrap main #hero_bnr #reservation_form .room .room_type:hover .room_open {display:block;}
#wrap main #hero_bnr #reservation_form .room .room_type {
    position:relative;/* room_open 기준 */
}
#wrap main #hero_bnr #reservation_form .room .room_type > a,
#wrap main #hero_bnr #reservation_form .room .room_type > .room_open a {
    /* 포사이드방 */
    width:160px; height:52px;
    display:flex; /* flex 설정 시 형제끼리 크기 맞추는 자동설정 때문에 이미지 비율이 망가져 보일 수 있음(메인, 교차축 설정 적용하면 해결됨) */
    flex-flow:row nowrap; align-items:center; justify-content:space-between;
    padding:0 8px 0 10px;
    background-color:#fff; border:1px solid #C9C9C9; border-radius:8px;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a .name,
#wrap main #hero_bnr #reservation_form .room .room_type > .room_open .name {
    font-size:0.88rem;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a .name span,
#wrap main #hero_bnr #reservation_form .room .room_type > .room_open .name span {
    font-size:0.75rem; color:#888;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a img {}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open {
    position:absolute; left:0; top:52px;
    /* absolute 설정 시 기존태그 크기가 inline-block 처럼 바뀜 */
    display:none;
}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open a {}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open a {}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open a .name {}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open a .name span {}
/* --------------------------------------------------------------------------------체크인/아웃날짜 */
#wrap main #hero_bnr #reservation_form .check_in_out {
    display:flex;
    /* 필수! 메인축방향 줄바꿈처리 flex-flow */
    flex-flow:row nowrap; gap:10px;
}
/* --------------------------------------------------------------------------------체크인&아웃 공통 */
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a,
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a {
    width:160px; height:52px;
    display:flex; flex-flow:row nowrap;
    align-items:center; justify-content:space-between;
    padding:0 8px 0 10px; background-color:#fff; border-radius:8px;
    font-size:0.88rem; border:1px solid #C9C9C9;
}
/* --------------------------------------------------------------------------------체크인 */
#wrap main #hero_bnr #reservation_form .check_in_out .in {}
#wrap main #hero_bnr #reservation_form .check_in_out .in h2 {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a .date {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a img {}
#wrap main #hero_bnr #reservation_form .check_in_out .day {
    display:flex; flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
}
#wrap main #hero_bnr #reservation_form .check_in_out .day img {}
#wrap main #hero_bnr #reservation_form .check_in_out .day em {margin:8px 0;}
#wrap main #hero_bnr #reservation_form .check_in_out .out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out h2 {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a .date {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a img {}
/* --------------------------------------------------------------------------------인원 */
#wrap main #hero_bnr #reservation_form .person {}
#wrap main #hero_bnr #reservation_form .person h2 {}
#wrap main #hero_bnr #reservation_form .person .number {
    display:flex;
    flex-flow:row nowrap;
    gap:10px;
}
/* --------------------------------------------------------------------------------인원 공통 */
#wrap main #hero_bnr #reservation_form .person .number li {
    background-color:#fff; width:160px; height:52px;
    display:flex; flex-flow:row nowrap; align-items:center; justify-content:space-between;
    border:1px solid #C9C9C9; border-radius:8px; font-size:0.88rem; padding:0 5px;
}
#wrap main #hero_bnr #reservation_form .person .number li .number_btn {
    /* background-color:brown; */
    width:24px; height:24px
}/* 공통버튼 */
#wrap main #hero_bnr #reservation_form .person .number li .number_btn img {}
/* --------------------------------------------------------------------------------증가감소 버튼그룹 */
#wrap main #hero_bnr #reservation_form .person .number li #adult_add,
#wrap main #hero_bnr #reservation_form .person .number li #adult_remove,
#wrap main #hero_bnr #reservation_form .person .number li #kid_add,
#wrap main #hero_bnr #reservation_form .person .number li #kid_remove {}
/* -------------------------------------------------------------------------------- */
#wrap main #hero_bnr #reservation_form .person .number li #adult_add {}
#wrap main #hero_bnr #reservation_form .person .number li #adult_remove {}
#wrap main #hero_bnr #reservation_form .person .number li span {}
#wrap main #hero_bnr #reservation_form .person .number li span label {}
#wrap main #hero_bnr #reservation_form .person .number li span #adult {}
#wrap main #hero_bnr #reservation_form .person .number li span input {
    width:25px; text-align:center;
}
#wrap main #hero_bnr #reservation_form .person .number li span input:focus {color:#0f479c; font-weight:700;}
#wrap main #hero_bnr #reservation_form .person .number li span #kid {}
/* --------------------------------------------------------------------------------인원 개별(성인/어린이) */
#wrap main #hero_bnr #reservation_form .person .number li #kid_add {}
#wrap main #hero_bnr #reservation_form .person .number li #kid_remove {}
/* --------------------------------------------------------------------------------검색버튼 */
#wrap main #hero_bnr #reservation_form p {
    /* position:relative; top:12px; */
}
#wrap main #hero_bnr #reservation_form p #search_btn {
    background-color:#27536B;
    width:80px; height:52px;
    border-radius:8px;
    color:#fff; font-size:0.88rem;
}
#wrap main #hero_bnr #reservation_form p #search_btn:hover {
    font-weight:700;
    background-color:#8db4c9;
}
/* --------------------------------------------------------------------------------2. 양림동 호랑가시나무 소개 */
#wrap main .info_wrap {
    background-color:#F5F5F5;
}
#wrap main .info_wrap .container_layout {
    /* background-color: antiquewhite; */
    width:1220px; margin:0 auto;
}
#wrap main .info_wrap .container_layout h1,
#wrap main .info_wrap .container_layout p {}
#wrap main h1 {}
#wrap main p {}
#wrap main .info_wrap .container_layout h1 {}
#wrap main .info_wrap .container_layout p {}/* 공통 */
#wrap main .info_wrap .container_layout h1+p {}
#wrap main .info_wrap .container_layout p:last-child {}
#wrap main .info_wrap .container_layout p:last-child img {width:100%;}
/* --------------------------------------------------------------------------------3. 관광지 소개 */
#wrap main .container_layout {}
#wrap main .container_layout .info {}
#wrap main .container_layout .info h1,
#wrap main .container_layout .info p {}
#wrap main .container_layout .info h1 {}
#wrap main .container_layout .info p {}
#wrap main .container_layout .contents {
    /* background-color: aquamarine; */
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    margin-bottom:50px;
    /* 메인축정렬 */
    /* ul+a 여백 */
}
#wrap main .container_layout .contents li {
    /* background-color: aqua; */
    width:calc((100% - 60px) / 4)
    /* width:calc((100% - (20px * 3)) / 4); */
}
#wrap main .container_layout .contents li a {
    margin-bottom:10px;
    overflow:hidden; height:250px; display:block;
}/* 뷰포트 */
#wrap main .container_layout .contents li a img {width:100%}
#wrap main .container_layout .contents li a:hover img {transform:scale(1.2)}
#wrap main .container_layout .contents li h2 {
    font-weight:600; font-size:1.13rem;
}
#wrap main .container_layout .more {}
/* text-decoration:underline; 밑줄과 굴자사이 여백불가능 */
/* 
가운데
text-align 부모한테 명령 -> 자식, 자손 인라인 적용
*/
/* --------------------------------------------------------------------------------4. 객실 및 예약안내 */
#wrap main .info_wrap {}
#wrap main .info_wrap .container_layout {}
#wrap main .info_wrap .container_layout .reservation {/* background-color: blueviolet; */}
#wrap main .info_wrap .container_layout .reservation h1 {}
#wrap main .info_wrap .container_layout .reservation p {}
/* #wrap main .info_wrap .room {
    display:flex; flex-flow:row nowrap;
    align-items:center; justify-content:space-between;
    width:500px; background-color: aquamarine;
}
#wrap main .info_wrap .room .contents_main {}
#wrap main .info_wrap .room .contents_main a {}
#wrap main .info_wrap .room .contents_main h2 {}
#wrap main .info_wrap .room .contents_main p {} */
#wrap main .info_wrap .contents {
    /* background-color: aqua; */
    display:flex; flex-flow:row nowrap;
    align-items:center; justify-content:space-between;
    width:1220px; margin:0 auto 80px;
}
#wrap main .info_wrap .contents li {}
#wrap main .info_wrap .contents li a {}
#wrap main .info_wrap .contents li a:last-child {}
#wrap main .info_wrap .contents li a img {}
#wrap main .info_wrap .contents li h2 {font-size:1.125rem; font-weight:600; margin-bottom:10px;}
#wrap main .info_wrap .contents li p {font-size:0.875rem; line-height:1.7; color:#555;}
#wrap main .info_wrap .container_layout .more {background-color:blue; margin-bottom:70px;}
/* --------------------------------------------------------------------------------5. 게스트 하우스 찾아오시는 길 */
#wrap main .container_layout {width:1220px; margin:0 auto;}
#wrap main .container_layout .find_map {
    /* background-color: bisque; */
    display:flex; flex-flow:row nowrap;
    align-items:center; justify-content:space-between;
}
#wrap main .container_layout .find_map h1 {font-size:1.5rem; font-weight:800;}
#wrap main .container_layout .find_map p {font-size:1rem; color:#000;}
#wrap main .container_layout .map {}
#wrap main .container_layout .map img {width:100%;}
#wrap main #bus_info {display:block; width: 1220px; margin:0 auto 50px;}
#wrap main #bus_info p {font-size:0.9375rem; line-height:1.8; color:#555;}
#wrap main #bus_info h1 {font-size:1.5rem; font-weight:800; line-height:1.8; color:#555;}
#wrap main #bus_info .bus {}
#wrap main #bus_info .bus p {}
#wrap main #subway_info {display:block; width: 1220px; margin:0 auto 70px;}
#wrap main #subway_info h1 {font-size:1.5rem; font-weight:800; line-height:1.8; color:#555;}
#wrap main #subway_info p {font-size:0.9375rem; line-height:1.8; color:#555;}